<!DOCTYPE html>
<html>
<head>
  <title>German glory</title>
</head>
<body>
<h1>BMW M4</h1>
<img src=http://4dc156d57f83a7bb19dc-ffdabd8e5c1d3ad776c701c49ec587b4.r52.cf1.rackcdn.com/WBS4Y9C54JAC87940/6b27b6a273e7fec7aed957dece37b1aa.jpg width = 750 height = 500>
<p>The BMW M4 is amazing.</p>
<footer>End of page</footer>
</body>
</html>
<%= link_to 'Home', root_path %>