<!DOCTYPE html>
<html>
<head>
  <title>Italian glory</title>
</head>
<body>
<h1>Ferrari Superfast</h1>
<img src=https://2p2bboli8d61fqhjiqzb8p1a-wpengine.netdna-ssl.com/wp-content/uploads/2017/03/812-Superfast-Monaco.jpg width = 750 height = 500>
<p>The Ferrari Superfast 812 is amazing.</p>
<footer>End of page</footer>
</body>
</html>
<%= link_to 'About', about_path %>
